<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
</div>
<form class="user" (ngSubmit)="onLoginSubmit()">
    <div class="form-group">
        <input type="email" class="form-control form-control-user"
            id="exampleInputEmail" aria-describedby="emailHelp"
            placeholder="Enter Email Address..."
            [(ngModel)]="loginData.userName" name="userName" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user"
            id="exampleInputPassword" placeholder="Password"
            [(ngModel)]="loginData.password" name="password" required>
    </div>
    
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Login
    </button>
    <hr>
</form>